body {   
    margin: 0px;
    padding: 0px;
    background-color: lavender;
    font-family: Arial ;
}
.gsbt {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
   
    height: 30px;
    background-color:#0c25b9;
    }
    .gsbt p {
    position: relative;
    font-family: Geneva, sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: linear-gradient(90deg, #DC143C, #fff, #000);
    background-repeat: no-repeat;
    background-size: 82%;
    animation: animate 3s infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    }
    @keyframes animate {
    0% {
    background-position: -500%;
    }
    100% {
    background-position: 500%;
    }
    }
.menu {
    width: 100%;
    height: 100px;
    background-color: #251874;
    float: right;
    
    position: fixed;
}

img {
    width: 100%;
    
}

ul {
    margin: 0;
    padding-right: 50px;
}

a:hover {
    border-radius: 5px;
    color: rgb(18, 229, 33);
}

li a {
    text-decoration: none;
    color: rgb(223, 224, 242);
    font-size: 15px;
}

nav ul li a :hover {
    color: rgb(18, 229, 33);
}

li {
    display: inline-block;
    margin: 10px;
    position: relative;
    top: 25px;
    
    font-size: 10px;
    text-transform: uppercase;
    right: 153px;
    float: right;
}

#logo {
    position: absolute;
    top: 10px;
    margin-top:  40px;
    
}
ul li {
    position: relative;
    right: 5px;
}
@media only screen and (max-width: 996px){
    
	.menu ul{
        background-color: #251874;
       
        float: auto;
        margin-top: 50px;
    }
    .menu{
        height: 150px;
    }
    .inscription{
        width: 550px; 
        margin-left: 40%; 
    }
    .h1{
        margin-left: 70%;
        
    }
    .dep{
        margin-left: 40%;
    }
    #h1{
        margin-left: 80%;
    }
    #logo{
        margin-left: 230px;
    }
    .inscr{
        margin-top: 50px;
        margin-left: 70%;
    }
    iframe{
        width: 330px;
    }
	.menu li{
        
        margin: 5px;
        display: inline;   
    }
    .menu li a{
        font-size: 25px;
    }
    #photo{
        margin-left: 200px;
    }
}
